<!DOCTYPE html>
<html charset="utf-8">

<body>
<div id="header">
    <div id="avatar"></div>
    <h1>Thomas Ortiz</h1>
    <p>Software Developer &nbsp;&bull;&nbsp; NCSU CSC '17 &nbsp;&bull; CSC Ambassador</p>
    <nav>
        <ul>
            <li><a href="https://www.linkedin.com/in/tdortiz" target="_blank" class="icon fa-linkedin tooltip"><div class="tooltiptext">LinkedIn</div></a></li>
            <li><a href="assets/Thomas_Ortiz_Resume.pdf" class="icon fa-file-text-o tooltip"><div class="tooltiptext">Resume</div></a></li>
            <li><a href="https://github.com/Tdortiz" target="_blank" class="icon fa-github tooltip"><div class="tooltiptext">Github</div></a></li>
            <li><a href="mailto:tdortiz@ncsu.edu" class="icon fa-envelope-o tooltip"><div class="tooltiptext">Email</div></a></li>
        </ul>
    </nav>
</div>
</body>

</html>